html {
  height: 100%;
  box-sizing: border-box;
}

@font-face {
  font-family: "Ubuntu-R";
  src: url("../font/Ubuntu-R.ttf");

}

body {
  position: relative;
  min-height: 100%;
  font-family: "Ubuntu-R";
  font-size: 12px;
  margin: 0;
  background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

p {
  font-size: 14px;
}

#top {
  background-color: rgba(0, 0, 0, 0.4);
  float: left;
  width: 100%;
  position: fixed;
}

#top #title {
  padding: 24px;
  text-align: center;
  color: #FFFFFF;
}

#center {
  padding: 0;
  min-height: 100vh;
  overflow: hidden;
  display: block;
  padding-bottom: 137px;
}

#center #panel {
  background-image: url("../img/bg_book.jpg");
}

.panel {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  padding: 175px 0;
  min-height: 21px;
  color: #FFFFFF;
}

#center .text {
  margin: 0 5%;
}

#bottom {
  background-color: #0a090c;
  position: absolute;
  bottom: 0;
  width: 100%;
  clear: both;
  padding: 60px 0;
  text-align: center;
  color: white;
}

.p1l {
  padding-top: 24px;
}

.cen {
  text-align: center;
}
