@font-face {
  font-family: Peace;
  src: url("./font/Peace_Sans.otf");
}

@font-face {
  font-family: Metropolis;
  src: url("./font/Metropolis-Regular.otf");
}

@font-face {
  font-family: Metropolis-EL;
  src: url("./font/Metropolis-ExtraLight.otf");
}

@font-face {
  font-family: Potra;
  src: url("./font/Potra.ttf");
}

@font-face {
  font-family: CaviarDreams;
  src: url("./font/CaviarDreams.ttf");
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  font-family: Metropolis;
  color: #FFFFFF;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

header {
  margin: 14px 0;
  -moz-user-select: none;
  user-select: none;
}

header #title {
  font-family: Potra;
  font-size: 36px;
  text-align: center;
  text-shadow: 0 0 3px #FFFFFF, 0 0 3px #FF00AB, 0 0 2px #EE33FF;
}

a {
  font-family: CaviarDreams;
  font-size: 18px;
  color: #DD77DD;
  text-decoration: none;
  transition: 0.09s ease-out text-shadow, 0.09s ease-out color;
  text-shadow: 0 0 3px #FF00AB, 0 0 2px #EE33FF;
}

a:hover {
  text-shadow: 0 0 3px #FFFFFF, 0 0 3px #FF00AB, 0 0 2px #EE33FF;
  color: #FFFFFF;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

nav li {
  display: inline-block;
  margin: 0 8px;
}

h1, h2, h3, h4, h5 {
  margin: 0 0 16px 0;
}

p {
  margin: 12px 0 0 0;
}

article {
  background-color: #000000AA;
  margin: 0 5vw;
  padding: 10px 12px 10px 12px;
  margin-bottom: 16px;
  -moz-user-select: none;
  user-select: none;
}

footer {
  text-align: center;
  background-color: #000000AA;
  padding: 12px;
  margin-top: 8px;
  -moz-user-select: none;
  user-select: none;
}

/* Form content */
button {
  cursor: pointer;
  border: 3px double #DD77DD;
  border-radius: 12px;
  background-color: #00000000;
  color: #DD77DD;
  font-family: CaviarDreams;
  font-size: 18px;
  text-shadow: 0 0 2px #FFFFFF88, 0 0 2px #FF00AB88, 0 0 1px #EE33FF88;
  box-shadow: 0 0 2px #FFFFFF88, 0 0 2px #FF00AB88, 0 0 1px #EE33FF88;
  transition: 0.04s ease-out text-shadow, 0.04s ease-out box-shadow, 0.04s ease-out color;
}

input[type="text"] {

}

button:hover {
  color: #FFFFFF;
  border: 3px double #FFFFFF;
  text-shadow: 0 0 2px #FFFFFF, 0 0 2px #FF00AB, 0 0 1px #EE33FF;
  box-shadow: 0 0 2px #FFFFFF, 0 0 2px #FF00AB, 0 0 1px #EE33FF;
}

/* Classes */
/* Go to top link (articles) */
.gtt {
  margin-top: 4px;
  margin-bottom: 8px;
  display: block;
  text-align: center;
}
