/* Fonts */
@font-face {
  font-family: Ubuntu-R;
  src: url("./fonts/Ubuntu-R.ttf");
}

@font-face {
  font-family: Ubuntu-B;
  src: url("./fonts/Ubuntu-B.ttf");
}

/* Global */
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Ubuntu-R;
  font-size: 14pt;
  background-color: #DDDDDD;
}

/* Identifiers */
  /* Introduction (header) */
  #content #introduction {
   margin-bottom: 16pt;
  }

  #content #introduction span {
   display: block;
   text-align: center;
  }

#title {
  text-align: center;
  font-size: 24pt;
}

#content {
  margin: 0 10% 0 10%;
  padding: 48pt 4% 0 4%;
  background-color: #FFFFFF;
  height: 100%;
  border-radius: 1pt;
}

#footer {
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  padding: 24pt 0;
  margin: 14pt 10% 14pt 10%;
  bottom: 0;
  border-radius: 1pt;
  position: relative;
}



/* Classes */
 /* Text */
.t_s1 {
 font-size: 36pt;
 font-family: Ubuntu-B;
 border-bottom: 2pt solid black;
 padding-bottom: 2pt;
}

.t_s2 {
 font-size: 32pt
}

.t_s3 {
 font-size: 24pt;
}

.pageEnd {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 14pt;
  background-color: #DDDDDD;
  display: block;
}
